name: API CI
# on: [push]
on:
  push:
    paths:
      - "./api/**"
      - ".github/workflows/api-ci.yml"
defaults:
  run:
    working-directory: ./api
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: ./api/package-lock.json
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Run Unit Tests
        shell: bash
        run: npm run test
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: ./api/package-lock.json
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Run linter
        shell: bash
        run: npm run lint
  e2e:
    runs-on: ubuntu-latest
    container:
      image: node:18
    services:
      mongo-e2e:
        image: mongo:4.4
      ports:
        - 27017:27017
      env:
        MONGO_INITDB_ROOT_USERNAME: tests
        MONGO_INITDB_ROOT_PASSWORD: test123
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        shell: bash
        run: npm ci
      - name: Run E2E Tests
        shell: bash
        run: npm run test:e2e
        env:
          MONGO_DB_NAME: 'demo'
          MONGO_URL: 'mongodb://test:test123@mongo-e2e:27017?retryWrites=true&writeConcern=majority'
